.Quote {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 1.4vw;
  display: flex;

  word-wrap: break-word;
}

.quoteBox {
  padding: 20px;
  border-left: 20px solid rgb(122, 93, 131);

}
.quote {
  text-align: left;
  color: black;
}

.author {
  text-align: right;
  color: rgb(155, 97, 155);
}
