.contentFrame {
  background-color: rgb(199, 186, 224);
  border-radius: 30px;
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-gap: 1rem;
}

.tabs {
  color: white;
  background: rgb(237, 223, 238);
  font-size: 4em;
  text-align: center;
  border-radius: 0px 30px 30px 0px;
  transition: width 2s;
  transition-timing-function: linear;
}



.homeTab {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
}



.dashTab {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 12;
}
.aboutTab {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 17;
}

/* .gridContainer {
  background-color: rgb(196, 142, 142);
  grid-column-start:3;
  grid-column-end: 18;
  grid-row-start: 1;
  grid-row-end: 19;
  border-radius: 10px;
  border-color: black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
} */

/* #profile {
  display: table;
  background-color: rgb(65, 65, 6);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 10px;
  box-shadow: 2px 2px #0b1001;
  /* margin: 0 auto; 
} */
