/* .dashboard {
  font-family: "Roboto", "Helvetica Neue";
  min-height: 100vh;
  display: flex;
  background: rgb(26, 26, 1);
} */



/* creating grid */
.dashboard {
  width: 80%;
  height: 75%;
  display: grid;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-gap: 1rem;
}

#gridContainer {
  background-color: rgb(255, 251, 251);
  grid-column-start:3;
  grid-column-end: 18;
  grid-row-start: 1;
  grid-row-end: 19;
  border-radius: 10px;
  border-color: black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

#quote {
  padding: 20px;
  color: black;
  /* background-color: rgb(243, 236, 247); */
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 10px;
  text-align: center;
}
#week {
  background: rgb(212, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(212, 212, 255, 1) 32%,
    rgba(230, 209, 255, 1) 100%
  );
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 7;
  font-size: 20px;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.day {
  height: 60px;
  width: 60px;
  padding: 15px;
  margin: 4px;
  background: rgb(212, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(212, 212, 255, 1) 32%,
    rgba(230, 209, 255, 1) 100%
  );
  border-radius: 50%;
  display: inline-block;
}

#smart {
  padding: 20px;
  color: black;
  background: rgb(212, 212, 255);
  background: rgb(212, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(212, 212, 255, 1) 32%,
    rgba(230, 209, 255, 1) 100%
  );
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 13;
  border-radius: 10px;
  text-align: center;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 10px 10px 50px rgb(189, 187, 187);
}

#smartBar {
  padding: 20px;
  color: black;
  background: rgb(212, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(212, 212, 255, 1) 32%,
    rgba(230, 209, 255, 1) 100%
  );
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 14;
  grid-row-end: 18;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 50px rgb(189, 187, 187);
}

#toDo {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: black;
  background: rgb(212, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(212, 212, 255, 1) 32%,
    rgba(230, 209, 255, 1) 100%
  );
  grid-column-start: 13;
  grid-column-end: 18;
  grid-row-start: 2;
  grid-row-end: 13;
  border-radius: 10px;
  display: flex;
  box-shadow: 10px 10px 50px rgb(189, 187, 187);
}

#taskList {
  background: white;
  grid-column-start: 13;
  grid-column-end: 18;
  grid-row-start: 5;
  grid-row-end: 13;
  border-radius: 0px 0px 10px 10px;
}

#progress {
  color: rgb(227, 216, 230);
  padding: 20px;
  background: rgb(212, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(212, 212, 255, 1) 32%,
    rgba(230, 209, 255, 1) 100%
  );
  color: black;
  grid-column-start: 13;
  grid-column-end: 18;
  grid-row-start: 14;
  grid-row-end: 18;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 50px rgb(189, 187, 187);
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  box-shadow: 2px 2px #a5a5a5;
}

#navdash {
  color:black;
}